  <!-- Start of Header -->
  <header class="header bgc-white header-type-1">
      <div class="top-bar">
          <div class="container">
              <div class="row">
                  <div class="col-12 order-2 col-sm-12 order-sm-2 col-md-8 order-md-1 align-self-center">
                      <p>Mid-season sale up to 20% OFF. Use code "SALEOFF20"</p>
                  </div>
                  <div class="col-12 order-1 col-sm-12 order-sm-1 col-md-4 order-md-2">
                      <ul class="list-inline">
                          <li class="currency list-inline-item">
                              <currency></currency>
                          </li>
                          <li class="language list-inline-item">
                              <translation></translation>
                          </li>
                      </ul>
                  </div>
              </div>
          </div> <!-- end of container -->
      </div> <!-- end of top-bar -->

      <div class="header-area">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-6 order-2 col-sm-6 order-sm-2 col-md-4 order-md-1 col-lg-3">
                      <div class="header-search-area">
                          <form >
                              <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Search entire store here ...">
                                  <div class="input-group-append">
                                      <button type="button" class="header-search-btn" (click)="find()" ><i class="pe-7s-search"></i></button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="col-12 order-1 col-sm-12 order-sm-1 col-md-4 order-md-2 col-lg-6">
                      <div class="logo">
                          <a [routerLink]="['home']"><img src="assets/images/logo.png" alt="Logo" class="img-fluid"></a>
                      </div>
                  </div>
                  <div class="col-6 order-3 col-sm-6 col-md-4 col-lg-3">
                      <div class="header-cart-area">

                          <cart></cart>
                          
                      </div> <!-- end of header-cart-area -->
                  </div>
              </div>
          </div> <!-- end of container -->
      </div> <!-- end of header-top -->



      <!-- Start of Main and Mobile Navigation -->
      <div class="main-nav-area bgc-white">
          <div class="container">
              <nav id="main_nav" class="stellarnav">
                  <ul>
                      <li><a [routerLink]="['home']"><span>Home</span></a></li>
                      <li><a [routerLink]="['about']"><span>About Us</span></a></li>
                      <li><a [routerLink]="['contact']"><span>Contact Us</span></a></li>
                  </ul>
              </nav>
          </div> <!-- end of container -->
      </div>
      <!-- End of Main and Mobile Navigation -->
  </header>
  <!-- End of Header -->

  <div class="fixed-header-space"></div> <!-- empty placeholder div for Fixed Menu bar height-->




<router-outlet></router-outlet>