<!-- Start of Breadcrumbs -->
<div class="breadcrumb-section bgc-offset mb-full">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" [routerLink]="['home']">Home</a>
                        <span class="breadcrumb-item active">Shop</span>
                    </nav>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <!-- End of Breadcrumbs -->

    <!-- Start of Main Content Wrapper -->
    <div id="content" class="main-content-wrapper">
        
        <!-- Start of Products Wrapper -->
        <div class="products-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-9 order-1 order-md-1 order-lg-2">
                        <main id="primary" class="site-main">
                            <div class="shop-wrapper">
                               <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <h1>Shop</h1>
                                        <div class="shop-toolbar">
                                            <div class="toolbar-inner">
                                                <div class="product-view-mode">
                                                    <ul role="tablist" class="nav shop-item-filter-list">
                                                        <li role="presentation" class="active"><a href="#grid" aria-controls="grid" role="tab" data-toggle="tab" class="active show" aria-selected="true"><i class="ion-md-grid"></i></a></li>
                                                        <li role="presentation"><a href="#list" aria-controls="list" role="tab" data-toggle="tab"><i class="ion-md-list"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="toolbar-amount">
                                                    <span>Showing 10 to 18 of 27</span>
                                                </div>
                                            </div>
                                            <div class="product-select-box">
                                                <div class="product-sort">
                                                    <p>Sort By:</p>
                                                    <select class="nice-select" name="sortby">
                                                        <option value="trending">Relevance</option>
                                                        <option value="sales">Name (A - Z)</option>
                                                        <option value="sales">Name (Z - A)</option>
                                                        <option value="rating">Price (Low > High)</option>
                                                        <option value="date">Rating (Lowest)</option>
                                                        <option value="price-asc">Model (A - Z)</option>
                                                        <option value="price-asc">Model (Z - A)</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end of row -->

                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="shop-products-wrapper">
                                            <div class="tab-content">
                                                <div id="grid" class="tab-pane anime-tab active show" role="tabpanel">
                                                    <div class="row" >
                                                    
                                                        <item-grid *ngFor="let product of productList" [product]="product" class="product-layout col-6 col-sm-6 col-md-4 col-lg-4"></item-grid>

                                                    </div>
                                                </div>
                                                <div id="list" class="tab-pane anime-tab" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12">
                                                
                                                            <item-list *ngFor="let product of productList" [product]="product" class="product-layout product-list"></item-list>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end of shop-products-wrapper -->

                                        <pagination></pagination>
                                    </div>
                                </div> <!-- end of row -->
                            </div> <!-- end of shop-wrapper -->
                        </main> <!-- end of #primary -->
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 order-2 order-md-2 order-lg-1">
                        <aside id="secondary" class="widget-area">
                            <div class="sidebar-widget list-categories-widget">
                                <h2 class="widgettitle">Shop</h2>
                                <div class="cat-accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Art Gallery</button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                                            <div class="card-body">
                                                <ul class="cat-sub-menu">
                                                    <li><a href="#">blandit vehicula</a></li>
                                                    <li><a href="#">Praesent molestie</a></li>
                                                    <li><a href="#">sagittis ipsum</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Rugs</button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                <ul class="cat-sub-menu">
                                                    <li><a href="#">Fire Pits</a></li>
                                                    <li><a href="#">Garden Accents</a></li>
                                                    <li><a href="#">Outdoor Fountains</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Accessories</button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <ul class="cat-sub-menu">
                                                    <li><a href="#">Quard Trousers</a></li>
                                                    <li><a href="#">Maroon Detail</a></li>
                                                    <li><a href="#">Check Trousers</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h5 class="mb-0">
                                                <button type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Clothing</button>
                                            </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
                                            <div class="card-body">
                                                <ul class="cat-sub-menu">
                                                    <li><a href="#">Moleskin Blazers</a></li>
                                                    <li><a href="#">Wool Check Blazers</a></li>
                                                    <li><a href="#">Combined Jackets</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFive">
                                            <h5 class="mb-0">
                                                <button type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Handbag</button>
                                            </h5>
                                        </div>
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
                                            <div class="card-body">
                                                <ul class="cat-sub-menu">
                                                    <li><a href="#">Moleskin Blazers</a></li>
                                                    <li><a href="#">Wool Check Blazers</a></li>
                                                    <li><a href="#">Biker Jackets</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <filter-check></filter-check>



                            
                        </aside> <!-- end of #secondary -->
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>
        <!-- End of Products Wrapper -->
    </div>
    <!-- End of Main Content Wrapper -->