<li class="single-cart-item media">
    <div class="shopping-cart-img mr-4">
        <a href="#">
            <img class="img-fluid" alt="Cart Item" src="assets/images/cart/cart-2.jpg">
            <span class="product-quantity">2x</span>
        </a>
    </div>
    <div class="shopping-cart-title media-body">
        <h4><a href="#">Fusion Backpack</a></h4>
        <p class="cart-price">$200.00</p>
        <div class="product-attr">
            <span>Color: White</span>
            <span>Accessories: Yes</span>
        </div>
    </div>
    <div class="shopping-cart-delete">
        <a href="#"><i class="ion ion-md-close"></i></a>
    </div>
</li>
