<li class="single-cart-item media">
    <div class="shopping-cart-img mr-4">
        <a [routerLink]="['detail']">
            <img class="img-fluid" alt={{product.title}} src={{product.images[0]}}>
            <span class="product-quantity">2x</span>
        </a>
    </div>
    <div class="shopping-cart-title media-body">
        <h4><a href="#">{{product.title }}</a></h4>
        <p class="cart-price">{{product.price | currency:'EUR':true }}</p>
        <div class="product-attr">
            <span>Color: White</span>
            <span>Accessories: Yes</span>
        </div>
    </div>
    <div class="shopping-cart-delete">
        <a (click)="deleteProduct()"><i class="ion ion-md-close"></i></a>
    </div>
</li>
