<div class="header-cart">
    <div class="btn-group">
        <button class="btn-link dropdown-toggle icon-cart">
            <i class="pe-7s-shopbag"></i>
            <span class="count-style">{{ productList.length }}</span>
        </button>
        <div class="dropdown-menu">
            <div class="shopping-cart-content">
                <ul class="list-unstyled">

                    <item-cart *ngFor="let product of productList" [product]="product"></item-cart>

                </ul>
                <div class="shopping-cart-total">
                    <h4>Sub-Total : <span>{{ productList | totalCart | currency:'EUR':true }}</span></h4>
                    <h4>Total : <span>{{ productList | totalCart | currency:'EUR':true }}</span></h4>
                </div>
                <div class="shopping-cart-btn">
                    <a class="default-btn" [routerLink]="['checkout']">view cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

  