<td>
    <a href="single-product.html"><img src="assets/images/products/new/product-1.jpg" alt="Cart Product Image" title="Compete Track Tote" class="img-thumbnail"></a>
</td>
<td>
    <a href="single-product.html">Compete Track Tote</a>
    <span>Delivery Date: 2018-09-22</span>
    <span>Color: Brown</span>
    <span>Reward Points: 300</span>
</td>
<td>3</td>
<td>
    <div class="input-group btn-block">
        <div class="cart-input">
            <input class="cart-input-box" type="text" value="3">
            <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
            <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
            <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
            <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
        </div>
        <span class="input-group-btn">
            <button type="submit" data-toggle="tooltip" data-direction="top" class="btn btn-primary" data-original-title="Update"><i class="fa fa-refresh"></i></button>
            <button type="button" data-toggle="tooltip" data-direction="top" class="btn btn-danger pull-right" data-original-title="Remove"><i class="fa fa-times-circle"></i></button>
        </span>
    </div>
</td>
<td>$200.00</td>
<td>$200.00</td>
