<article (click)="detail()">
    <div class="product-thumb">
        <div class="product-inner">
            <div class="product-image">
                <div class="label-product label-sale">-20%</div>
                <div class="label-product label-new">New</div>
                <a >
                    <img  src={{product.images[0]}} alt={{product.title}} title={{product.title}}>
                </a>
                <div class="action-links">
                    <a class="action-btn btn-cart"  title="Add to Cart"><i class="pe-7s-shopbag"></i></a>
                    <a class="action-btn btn-wishlist"  title="Add to Wishlist"><i class="pe-7s-like"></i></a>
                    <a class="action-btn btn-compare"  title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                    <a class="action-btn btn-quickview" data-toggle="modal" data-target="#product_quick_view"  title="Quick View"><i class="pe-7s-search"></i></a>
                </div>
            </div> <!-- end of product-image -->

            <div class="product-caption">
                <div class="product-meta d-flex justify-content-between align-items-center">
                    <div class="product-manufacturer">
                        <a >Studio Design</a>
                    </div>
                    <div class="product-ratings">
                        <div class="rating-box">
                            <ul class="rating d-flex">
                                <li><i class="ion ion-md-star-outline"></i></li>
                                <li><i class="ion ion-md-star-outline"></i></li>
                                <li><i class="ion ion-md-star-outline"></i></li>
                                <li><i class="ion ion-md-star-outline"></i></li>
                                <li><i class="ion ion-md-star-outline disabled"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4 class="product-name"><a href="single-product.html">{{product.title}}</a></h4>
                <p class="product-price">
                    <span class="price-old">{{product.priceAmazon | currency:'EUR':true }}</span>
                    <span class="price-new">{{product.price | currency:'EUR':true }}</span>
                </p>
            </div><!-- end of product-caption -->
        </div><!-- end of product-inner -->
    </div><!-- end of product-thumb -->
</article> <!-- end of product-layout -->