<div class="pagination-area">
    <div class="row align-items-center">
        <div class="col-12 order-2 col-sm-12 col-md-6 order-md-1 col-lg-6">
            <div class="page-amount d-flex justify-content-center justify-content-md-start">
                <p>Showing 10 to 18 of 27 (3 Pages)</p>
            </div>
        </div>
        <div class="col-12 order-1 col-sm-12 col-md-6 order-md-2 col-lg-6">
            <ul class="pagination">
                <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-left"></i> <span>Previous</span></a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item active"><span class="page-link">2</span></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link"><span>Next</span> <i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
    </div>
</div> <!-- end of pagination-area -->